services:
  recipe-dredger:
    image: ghcr.io/d0rk4ce/recipe-dredger:latest
    container_name: recipe-dredger
    environment:
      - MEALIE_ENABLED=true
      - MEALIE_URL=http://your-mealie-ip:9000
      - MEALIE_API_TOKEN=your_token_here
      - TANDOOR_ENABLED=false
      - TANDOOR_URL=http://your-tandoor-ip:8080
      - TANDOOR_API_KEY=your_key_here
    restart: "no" # Runs once and exits. Change to 'unless-stopped' if you add a loop later.
